body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .5fr 1fr 1fr .5fr;
    grid-template-areas: 
    "head head head"
    "con1 con2 con3"
    "con4 con4 con5"
    "base base base";
}

.head{
    background-color: rgb(81, 138, 138);
    text-align: center;
    grid-area: head;
    font-size: 4em;
    height: 25vh;
    display: table;
}
.head h1{
    display: table-cell;
    vertical-align: middle;
}
.con1{
    background-color: rgb(19, 129, 78);
    text-align: center;
    grid-area: con1;
    font-size: 4em;
    height: 35vh;
    display: table;
}
.con1 p{
    display: table-cell;
    vertical-align: middle;
}
.con2{
    background-color: rgb(208, 223, 228);
    text-align: center;
    grid-area: con2;
    font-size: 4em;
    display: table;
    height: 35vh;
}
.con2 p{
    display: table-cell;
    vertical-align: middle;
}
.con3{
    background-color: rgb(58, 179, 179);
    text-align: center;
    grid-area: con3;
    font-size: 4em;
    display: table;
    height: 35vh;
}
.con3 p{
    display: table-cell;
    vertical-align: middle;
}
.con4{
    background-color: rgb(30, 48, 46);
    text-align: center;
    grid-area: con4;
    font-size: 4em;
    height: 35vh;
    display: table;
}
.con4 p{
    display: table-cell;
    vertical-align: middle;
}
.con5{
    background-color: rgb(21, 126, 231);
    text-align: center;
    grid-area: con5;
    font-size: 4em;
    display: table;
    height: 35vh;
}
.con5 p{
    display: table-cell;
    vertical-align: middle;
}
.base{
    background-color: rgb(80, 169, 175);
    text-align: center;
    grid-area: base;
    height: 25vh;
    align-content: center;
    display: table;
}
.base h2{
    display: table-cell;
    vertical-align: middle;
};

@media screen and (max-width:1024px) {
    .container{
       grid-template-columns:1fr 1fr;
       grid-template-rows: .5fr 1fr 1fr 1fr .5fr;
       grid-template-areas:
        "head head"
        "con1 con2"
        "con4 con3" 
        "con4 con5"
        "base base";
    }  
}

@media screen and (max-width:600px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr 1fr 1fr 1fr 1fr .5fr;
        grid-template-areas: 
        "head"
        "con1"
        "con2" 
        "con3"
        "con4"
        "con5"
        "base";
   }
}